$font1: Philosopher, sans-serif;
$font2: Dosis, sans-serif;

$red: #a90000;
$redBg: #a900009a;
$black: #3e3b3b;
$white: #fdf9ec;





@mixin marginCenter {
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

